* {
    font-family: sans-serif;
    text-align: center;
    justify-self: center;
    align-items: center;
  }
  
  .bg2 {
    position: absolute;
    top: 100em;
    left: 12%;
    width: 74vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: 1px solid linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);;
    will-change: opacity;
    z-index: 1;
  }
  .bg2:before {
    content:'';
    position: absolute;
    left: 0;
    width: 37vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    border: 1px solid rgb(22, 6, 255);
    will-change: opacity;
    z-index: -10;
    border-right: none;
    transform: skew(140deg);
    opacity: 0.7;

  }
  .bg2:after {
    content:'';
    position: absolute;
    left: 50%;
    width: 37vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    border: 1px solid rgb(22, 6, 255);
    will-change: opacity;
    z-index: -10;
    transform: skew(140deg);
    opacity: 0.7;
  }
  

  @media(max-width:768px){
    .bg2{top:90em;}
  }