
  .bg3 {
    position: absolute;
    top: 150em;
    left: 12%;
    width: 74vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: 1px solid linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);;
    will-change: opacity;
    z-index: 1;
  }
  .bg3:before {
    content:'';
    position: absolute;
    left: 0;
    width: 37vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    border: 1px solid rgb(22, 6, 255);
    will-change: opacity;
    z-index: -10;
    border-right: none;
    transform: skew(45deg);
    opacity: 0.7;

  }
  .bg3:after {
    content:'';
    position: absolute;
    left: 50%;
    width: 37vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    border: 1px solid rgb(22, 6, 255);
    will-change: opacity;
    z-index: -10;
    transform: skew(45deg);
    opacity: 0.7;
  }
  