*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  top:0px;
  transition: all 0.4s ease-in-out;
}

img ~ img  {
  position: fixed;
  right: 10px;
}
.Nav__logo{
  margin-top: 12px;
}
.Nav__black{
  z-index: 2;
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%,rgba(50,0,255,0.6)100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
  width: 100%;
}